/* CSS from Google Fonts */
@import url('./fonts.css');
/* CSS header */
@import url('./header.css');
/* CSS typography */
@import url('../utilidades/tipografia.css');
/* CSS components */
@import url('../utilidades/compo.css');
/* CSS  Introduction */
@import url('../home/introducao.css');
/* Colors */
@import url('../utilidades/colors.css');
/* Bikes */
@import url('../bicicletas/bicicletas-lista.css');
/* Bicicletas */
@import url('../bicicletas/bicicletas.css');
/* Tecnologia */
@import url('../home/tecnologia.css');
/* Parceiros */
@import url('../home/parceiros.css');
/* Depoimento */
@import url('../home/depoimento.css');
/* Seguros */
@import url('../seguros/seguros.css');
/* Footer */
@import url('./footer.css');
/* Termos */
@import url('../termos/termos.css');
/* Perguntas */
@import url('../seguros/perguntas.css');
/* Vantagens */
@import url('../seguros/vantagens.css');
/* Bicicleta */
@import url('../bicicleta/bicicleta.css');
/* Seguro Bicicleta */
@import url('../bicicleta/seguro.css');
/* Contato */
@import url('../contato/contato.css');
/* Lojas */
@import url('../contato/lojas.css');
/* Formulario */
@import url('../utilidades/formulario.css');
/* Orçamento */
@import url('../orcamento/orcamento.css');
/* Animações */
@import url('../utilidades/animacao.css');

::selection {
    color: var(--branco);
    background: #b0b0b0;
}

/* Custom scrollbar */

 /* width */
 ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } 

p::selection,
span::selection,
a::selection,
li::selection {
    color: var(--cor-11);
    background: var(--cor-3);
}

.span-hightlight::selection {
    color: var(--p1);
}

/*
Resets de todas as variaveis ja existentes do CSS
*/

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd,
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.form .col-2 {
    grid-column: span 2;;
}

textarea,
input {
    resize: none;
}

ul { 
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.categoria {
    width: 100%;
}

.p-text {
    margin-bottom: 20px;
}

img[src$=".jpg"] {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}